<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <xi:include href="head.html" />
</head>
<body>
<div id="wrapper">
  <div id="wrapper2">
      <div id="page">
      <xi:include href="header.html" />
        <div id="content">
          <div class="post">
            <div class="entry">





              <h2 class="title">Welcome to the PanPan web interface</h2>
              <div class="errorMessage" style="font-size:20px; color:${colour};"> <p> <b> ${message_} </b></p></div>
              <h3 class="subtitle">Submit new picture</h3>
              <form action="sendPanPan"         ENCTYPE="multipart/form-data"
                      METHOD="POST"><input type="text" name="panpanName" value="${defaultName}"/><input type="file" name="fName"/> <input type="submit" value="Submit"/></form>
              <h3 class="subtitle">Browse saved results</h3>
              <div py:for="item in savedResults">
                <a href="viewPanPan?name=${item}">${item}</a>
              </div>






            </div> <!-- end entry -->
          </div> <!-- end post -->
        </div><!-- end #content -->
      <div style="clear: both;">&nbsp;</div>
      <div id="widebar">
        <div style="clear: both;">&nbsp;</div>
      </div> <!-- end widebar -->
    </div>
    <!-- end #page -->
  </div>
  <!-- end #wrapper2 -->
  <div id="footer">
<!--    <p>(c) 2007 Website Name. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>-->
  </div>
</div> <!-- end #wrapper -->
</body>
</html>
